{% extends "base.html" %}

{% block logo %}{% endblock logo %}

{% block navigation %}{% endblock navigation %}


{% block main %}

    <h2>About Me</h2>
    <p>I am a Mechanical Engineering PhD student at UCSD. I work in the <a href="{{ URL_COIMBRA }}">Coimbra Solar Forecast Engine Lab</a> and am involved with the <a href="{{ URL_IDEA }}">IDEA Scholars Program</a>.</p>

    <p>I received my B.S. in Mechanical Engineering from <a href="">UC Merced</a>, and am an alumni of the UC LEADS and Cal NERDS programs.</p>


    <h3>Research Interests</h3>
    <p>My research focuses on applying machine learning and non-integer order methods to solar forecasting and nonlinear chaos. More details on my current and past research work can be seen <a href="">here</a>.</p>


{% endblock main %}
