<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-1.5.1.min.js">\x3C/script>')</script>

<!-- Add email address obfuscatation -->
<!-- Taken from from Josh Dick (http://joshdick.net) -->
<!-- See https://gist.github.com/961154 for more details. -->
<script type="text/javascript">
  $(document).ready(function(){

    //First, remove the invisible <span>s from the link - now the plain-text e-mail address is in the DOM
    $("#contact span").remove();

    //Next, set the link's href attribute to be 'mailto:' plus the link text (the plain-text e-mail address from the previous step.)
    //BAM--instant simple mailto: link, except spam bots can't harvest it.
    $("#contact").attr("href", "mailto:" + $.trim($("#contact").text()));
  });
</script>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);
  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>
