<img src="{{ site.url }}/images/David_Larson.jpg" alt="David P. Larson" width="200" />

<br>

<!-- Add (obfuscated) email address -->
  <!-- If javascript not enabled, requires captcha completition to get email address -->
  <a target="_blank" id="contact" href="http://www.google.com/recaptcha/mailhide/d?k=01rP_AhaCYQXEZiBTSkJN9VA==&c=DGa7te12niRz6dhFZdAJ5YTIx6Dg5dNshPrIwQmerb8=">dp<span style="display:none">solar</span>larson@uc<span style="display:none">forecasting</span>sd.edu</a>

<br>

<!-- Github -->
<a href="https://github.com/{{ site.owner.github }}" alt="Github" class='icons'><i class="icon-github icon-2x"></i></a>

&nbsp;

<!-- LinkedIn -->
<a href="{{ site.owner.linkedin }}" alt="LinkedIn" class='icons'><i class="icon-linkedin-sign icon-2x"></i></a>
