<!DOCTYPE html>
<html lang="en">
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">
    <title>{{ site_title }}</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    {# Le HTML5 shim, for IE6-8 support of HTML elements #}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block basecss %}
    <link href="{{ media_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/style.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/font-awesome.min.css') }}" rel="stylesheet">

    {# Add prettyPhoto css (for lightbox image galleries) #}
    <link href="{{ media_url('css/prettyPhoto.css') }}" rel="stylesheet">

    {% endblock basecss %}
    {% block css %}
    <style type="text/css">
        a.icons         { color:#303030; text-decoration:none; }
        a.icons:hover   { color:#303030; text-decoration:none; }
        a.icons:visited { color:#303030; text-decoration:none; }
        a.icons:active  { color:#303030; text-decoration:none; }
    </style> 
    
    {% endblock %}



    {% block favicons %}
    {# Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references #}
    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ media_url('img/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ media_url('img/appleimgim-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ media_url('img/apple-touch-icon-114x114.png') }}">
    {% endblock favicons %}
    
    {% block headjs %}
    {% endblock headjs %}

    {% block endhead %}{% endblock endhead %}
    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}
  </head>

  <body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">

    {% block body %}

    <div class="container" id="top">
      {% block container %}

      <div class="content">
        {# This is where the bulk of the content will go #}
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        {% block footer %}
        <p>Created by <a href="{{ author.url }}">{{ author.name }}</a> using <a href="{{ hyde.url }}">{{ hyde.name}}</a> and <a href="{{ bootstrap.url }}">{{ bootstrap.name }}</a></p>
        {% endblock footer %}
      </footer>

      {% endblock container %}
    </div> <!-- /container -->

    {% endblock body %}
    
    {% block js %}
    {# Javascript at the bottom for fast page loading #}
    {% block jquery %}
    {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-1.5.1.min.js.js') }}">\x3C/script>')</script>
            
    {# Add prettyPhoto jquery (for lightbox image galleries) #}
    <script src="{{ media_url('js/libs/jquery.prettyPhoto.js') }}"></script>

    {% endblock jquery %}

    {% block bootstrap_scripts %}
        {# Uncomment any of these lines to enable that plugin on your site #}
{#    <script src="{{ media_url('js/libs/bootstrap-alerts.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-buttons.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-dropdown.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-modal.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-popover.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-scrollspy.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-tabs.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/bootstrap-twipsy.js') }}"></script>#}
    {% endblock bootstrap_scripts %}

    {% block scripts %}
    {% endblock scripts %}


    <!--[if lt IE 7 ]>
      <script src="{{ media_url('js/libs/dd_belatedpng.js') }}"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->

    {# Add prettyPhoto javascript (for lightbox image galleries) #}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){ $("a[rel^='prettyPhoto']").prettyPhoto(); });
    </script>

    {# Add email address obfuscatation #}
    {# Taken from from Josh Dick (http://joshdick.net) #}
    {# See https://gist.github.com/961154 for more details. #}
    <script type="text/javascript">
        $(document).ready(function(){

            //First, remove the invisible <span>s from the link - now the plain-text e-mail address is in the DOM
            $("#contact span").remove();

            //Next, set the link's href attribute to be 'mailto:' plus the link text (the plain-text e-mail address from the previous step.)
            //BAM--instant simple mailto: link, except spam bots can't harvest it.
            $("#contact").attr("href", "mailto:" + $.trim($("#contact").text()));
        });
    </script>


    {# Add MathJax (HTTPS version) #}
    {# NOTE: MathJax might not display locally, but does in production mode on the remote host. #}
    <script type="text/javascript" src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    {# MathJax configuration #}
    <script type="text/javascript">
        MathJax.Hub.Config({
            imageFont: null,
            messageStyle: "none", //turn off status messages
            extensions: ["tex2jax.js"],
            jax: ["input/TeX","output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'] ],
                displayMath: [ ['$$','$$'] ],
            processEscapes:true
            }
        });
    </script>

 
    {% endblock js %}
  </body>
</html>
