{% extends "topbar.j2" %}

{% block basecss %}
{{ super() }}
<link href="{{ media_url('css/columns.css') }}" rel="stylesheet">
{% endblock basecss %}


{% block content %}
<div class="page-header">
    {% block header %}
    <h1>
        {% block page_title %}{{ resource.meta.title }}{% endblock %}
        {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
    </h1>
    {% endblock header %}
</div>


<div class="row">
    <div class="span10">
        {% filter markdown -%}
        {% block main %}{% endblock %}
        {%- endfilter %}
    </div>
    
    <div class="span4">
        <center>
            <a href="{{ media_url('img/David_Larson.jpg') }}" rel="prettyPhoto" title=""><img src="{{ media_url('img/David_Larson.jpg') }}" alt="David P. Larson" width="150" /></a>
            <br>
            <a href="https://github.com/dplarson">@dplarson</a> on <a href="https://github.com">Github</a>
            <br>
            <br>

            {# Add (obfuscated) email address #}
            {# If javascript not enabled, requires captcha completition to get email address #}
            <a target="_blank" id="contact" href="http://www.google.com/recaptcha/mailhide/d?k=01rP_AhaCYQXEZiBTSkJN9VA==&c=DGa7te12niRz6dhFZdAJ5YTIx6Dg5dNshPrIwQmerb8=">dp<span style="display:none">solar</span>larson@uc<span style="display:none">forecasting</span>sd.edu</a>

        </center>
    </div>
</div>

{% endblock content %}
