<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "header.html" }}
</head>

<body>
<div class="container">

  <!-- Intro -->
    <div class="row">
      <div class="col-xs-8">
        <center><h2>David P. Larson</h2></center>
      <!-- insert bio info from markdown file ``index.md`` -->
      {{ range where .Data.Pages "Type" "==" "index"}}
        {{ .Content }}
      {{ end }}
      </div>

      <div class="col-xs-4" align="center">
        <br>
        <img class="img-circle" src="img/David_Larson.jpg" width="90%">
      </div>
    </div> <!-- /row -->

  <!-- Research -->
  {{ range where .Data.Pages "Type" "==" "research"}}
  <div class="row">
    <div class="col-xs-11">
    {{ .Content }}
    </div>
  </div>
    {{ range .Params.publications }}
    <div class="row">

      <div class="col-xs-4" align="center">
        <img src={{ printf "%s" .image }} width="75%">
      </div> <!-- /col-xs-4 -->

      <div class="col-xs-8">
        <a href={{ printf "%s" .pdf}}>{{ .title }}</a>
        <br>
        {{ .author | markdownify }}
        <br>
        <i>{{ .journal }}</i>, {{ .year }}
        <br>
        {{ .links | markdownify }}
        <br>
        <br>
        {{ .summary | markdownify }}
      </div> <!-- /col-xs-8 -->

    </div> <!-- /row -->
    {{ end }}
  {{ end }}

  {{ range where .Data.Pages "Type" "==" "teaching"}}
  <div class="row">
    <div class="col-xs-11">
      {{ .Content }}
    </div>
  </div>
  {{ end }}

  <div class="row" align="right">
    <br>
    <a href="https://people.eecs.berkeley.edu/~barron/">(This website is great!)</a>
  </div>
    {{ partial "footer.html" }}

</div> <!-- /container -->
</body>
</html>
